<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Enviar mensagem</title>
</head>
<body>
    <form method="post">
        <label for="texto">Mensagem</label>
        <input id="texto" name="texto" type="text">

        <label for="ddd">DDD</label>
        <input type="number" name="ddd" id="ddd">

        <label for="numero">Número</label>
        <input type="number" name="numero" id="numero">

        <button type="submit">enviar</button>
    </form>
</body>
</html>